# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../../../../:\Users\eddie\Desktop\My Stuff\School Crap\College\UW\Winter 2021\TCSS 342B\Programming Assignment 2\Code\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
